<!-- Begin of navbar-landing-page -->
<div id="navbar-landing-page">
  <div class="container">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <!-- Icon and button -->
        <a class="navbar-brand" href="./index.html" id="navbar-landing-page-a-first">
          <img src="assets/images/icon/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          AnhBT
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- List link left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" data-target="#modalAboutMe" data-toggle="modal">About me <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-target="#modalContactMe" data-toggle="modal">Contact me</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                List tutorial
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Gun info</a>
                <a class="dropdown-item" href="#">Skill guide</a>
                <a class="dropdown-item" href="#">Get range tips</a>
              </div>
            </li>
          </ul>
          <!-- Form search -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End of navbar-landing-page -->




<!-- Modal about me-->
<div class="modal fade" id="modalAboutMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Biện Tú Anh - AnhBT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/person-img/img-AnhBT.jpg" class="img-thumbnail">
        <div class="container modalAboutMe footerButtons">
          <div class="row">
            <div class="col-lg-12 text-center">
              <a class="btn btn-primary" href="https://www.facebook.com/fghdfhfgs" target="_blank">Facebook</a>
              <a class="btn btn-success" href="https://www.instagram.com/bientuanh1996/" target="_blank">Instagram</a>
              <a class="btn btn-danger"
                href="https://www.youtube.com/channel/UCag-trqbCe5etPRT1UL1GqQ?view_as=subscriber"
                target="_blank">Youtube</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End of Modal about me-->








<!-- Modal contact me -->
<div class="modal fade" id="modalContactMe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Contact me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="inputPhone1" placeholder="Phone number">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End of Modal contact me -->