.contact-info {
  padding-bottom: 50px;
}
  
.contact-info h4 {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 5px;
}
  
.contact-info a  {
  font-size: 300%;
  cursor: pointer;
  text-decoration: none;
}
  
.contact-info p, .contact-info .phone-info , .contact-info .email-info {
  font-size: 89%;
  margin: 0px 0px;
}
  
.contact-info .email-info {
  margin-bottom: 10px;
}

.contact-info span {
  font-family: 'Open Sans', arial, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.contact-info a {
  margin-left: 10px;
}