<!-- Contact info -->
<div class="contact-info">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-center">
        <h4>My infomatioN</h4>
        <p>514 Tran Cung Street</p>
        <div class="phone-info">
          <div class="fas fa-phone"></div>
          0964-542-640
        </div>
        <div class="email-info">
          <div class="fas fa-envelope-open-text"></div>
          bientuanh46@gmail.com
        </div>
        <a class="fab fa-facebook-square" href="https://www.facebook.com/fghdfhfgs" target="_blank"></a>
        <a class="fab fa-youtube" target="_blank"
          href="https://www.youtube.com/channel/UCag-trqbCe5etPRT1UL1GqQ?view_as=subscriber"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/bientuanh1996/" target="_blank"></a>
        <hr>
        <span>COPYRIGHT © 2019 AnhBT, RIGHTS RESERVED.</span>
      </div>
    </div>
  </div>
</div>