<app-navbar-header></app-navbar-header>



<!-- Introduce image -->
<div id="image-landing-page">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h1>PUPG IS NOT <span>EASY</span> ?</h1>
      <p>This is site to learn PUPG</p>
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <div id="underlined-title"></div>
        </div>
      </div>
      <a class='btn-customer-2'>Go now</a>
    </div>
  </div>
</div> <!-- End of Introduce image -->



<!-- Begin list tutorial title -->
<div class="list-tutorial-title">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h1>List of tutorials</h1>
        <p>Many of our components require the use of JavaScript to function Specifically</p>
      </div>
    </div>
  </div>
</div> <!-- End list tutorial title -->
<!-- Begin list tutorial -->
<div class="list-tutorial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/guns/img-gun-3.jpg" class="card-img-top img-thumbnail" alt="image1">
          <div class="card-body text-center">
            <h5 class="card-title">Gun Info</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary buy-button">Buy now</a>
            <a href="gun-info" class="btn btn-warning">More info</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/common/img4.jpg" class="card-img-top img-thumbnail" alt="image2">
          <div class="card-body text-center">
            <h5 class="card-title">Skills Guide</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary buy-button">Buy now</a>
            <a href="#" class="btn btn-warning">More info</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/common/img5.jpg" class="card-img-top img-thumbnail" alt="image3">
          <div class="card-body text-center">
            <h5 class="card-title">Get Range Tips</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary buy-button">Buy now</a>
            <a href="#" class="btn btn-warning">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End of list tutorials -->



<!-- Map position -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2213.9291441274568!2d105.7832361247063!3d21.057872992565578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2ac2325f6d%3A0x64c2bcca9a64dfc0!2zNTE0IFRy4bqnbiBDdW5nLCBD4buVIE5odeG6vywgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1564203495912!5m2!1sen!2s"
    width="100%" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
</div><!-- End of Map position -->



<app-info-footer></app-info-footer>